.container {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 25px;
    background-image: url('../assets/images/bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.padding { padding: 35px; }

.content {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    padding: 25px;
    background-color: #585858;

    .logo {
        width: 125px;
        background-image: url('../assets/images/logo.png');
        background-repeat: no-repeat;
        background-size: 125px;
        height: 32px;
        margin-bottom: 25px;
    }

    .texts {
        .steps {
            font-family: 'inter-regular';
            font-size: 9px;
            font-weight: 700;
            // line-height: 10.89px;
            color: #2C5E5B;
            max-width: 67px; // quita esto para evitar cosas raras en el paso dos
            width: fit-content;
            max-height: 17px;
            padding: 3px 7px 3px 7px;
            border-radius: 3px;
            background-color: #5DC2BD;
            margin-bottom: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
        .title {
            width: 325px;
            height: 35px;
            color: white;
            font-family: 'liberator-siroko-heavy';
            font-size: 35px;
            font-weight: 800;
            line-height: 35px;
            margin-bottom: 15px;
        }
        .subtitle {
            color: white;
            width: 325px;
            font-family: 'inconsolata';
            font-size: 16px;
            font-weight: 400;
            line-height: 18.72px;
            margin-bottom: 25px;
        }
    }

    
    .wizard {
        background-color: rgb(34, 212, 168);
        color: white;
        background-color: #311429;
        width: 375px;
        padding: 25px;

        &-text {
            font-family: 'inter-light';
            font-size: 12px;
            font-weight: 700;
            color: #EFE5C3;
            margin-bottom: 10px;
        }

        &-radio {
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            color: white;

            &-option{
                display: flex;
                justify-content: flex-start;
                align-items: center;
                width: 100%;
                height: 30px;
                margin-bottom: 10px;
                background-color:  #FFFFFF17;
                color: white;
                height: 44px;
                border-radius: 4px;

                &-selected {
                    background-color: #C92F58;
                }

                // .mdc-form-field {
                //     font-family: 'inconsolata';
                //     font-size: 15px;
                //     font-weight: 400;
                //     font-family: 'liberator-siroko';
                //     color: white;
                //     display: flex;
                //     align-items: center;
                // }

            }
        }

        &-option {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 100%;
            height: 30px;
            height: 44px;
            margin-bottom: 10px;
            background-color:  #FFFFFF17;
            color: white;
            border-radius: 4px;
        }

        &-next {
            background-color: #5DC2BD;
        }

        &-code {
            background-color: #fff;
            display: flex;
            justify-content: space-between;
            align-items: center;
        
            &-text {
                font-family: 'inconsolata';
                font-size: 15px;
                font-weight: 400;
                color: #000;
            }
            &-copy {
                font-family: 'inconsolata';
                font-size: 15px;
                font-weight: 400;
                color: #000;
                display: flex;
                align-items: center;
            }
        }
        
        &-instructions {
            color: white;
            width: 325px;
            font-family: 'inconsolata';
            font-size: 16px;
            font-weight: 400;
            line-height: 18.72px;
            margin-bottom: 25px;
        }
        
        &-restart{
            text-decoration: underline;
        }


    }


}

.footer {
    width: 100%;
    height: 55px;
    position:fixed;
    bottom: 0;
    background-color: #000;
    color: #fff;
}

@media (max-width: 650px) {
    .padding { padding: 25px; }
    .content { 
        .logo { background-image: url('../assets/images/logo-xs.png'); width: 25px; background-size: 25px; } /* icon and text */
    }
}
