<div class="container padding">
  
  <div class="content">



    <div class="logo"></div>





    <div class="texts">
      <div class="steps">{{stepOptions[step].title}}</div>
      <div class="title">{{titleOptions[step].title}}</div>
      <div class="subtitle" *ngIf="step===1">Has llegado hasta el test de Siroko. Responde las siguientes preguntas y genera tu código premiado a medida. </div>
    </div>






    <ng-container *ngIf="step === 0 || step === 1">
      <div class="wizard">
        <div class="wizard-text">USO SIROKO DESDE...</div>
        
        <mat-radio-group aria-label="Select an option" class="wizard-radio">

          <mat-radio-button class="wizard-button wizard-radio-option" [value]="question" [ngClass]="{'wizard-radio-option-selected': isSelected(step, question)}"
          *ngFor="let question of wizardOptions[step].questions; let i = index" (click)="onSelect(question)" [checked]="isItemChecked(step, question)">  {{question}}
          </mat-radio-button>
        </mat-radio-group>

        <div class="wizard-next" (click)="setStep(step+1)">Siguiente  <mat-icon aria-hidden="false" aria-label="arrow right" fontIcon="arrow_right_alt"></mat-icon>
        </div>

      </div>
    </ng-container>



    <ng-container *ngIf="step === 2">
      <div class="wizard">
        <div class="wizard-text">LO PROMETIDO ES DEUDA</div>
        <div class="wizard-option">
          <div class="wizard-code">{{code}}</div>
          <div class="wizard-copy" (click)="copyCode()">copy</div>
        </div>
        <div class="wizard-instructions">Introduce este código en tu próxima compra para conseguir tu premio. ¡Disponible durante 20 minutos!</div>
        <div class="wizard-option" *ngIf="countDownActivated && !countDownFinished"><mat-icon aria-hidden="false" aria-label="access alarm" fontIcon="access_alarm"></mat-icon>  {{time.minutes}} : {{time.seconds}}</div>
        <div class="wizard-outdated" *ngIf="countDownActivated && countDownFinished">Codigo caducado. <span class="restart">Reiniciar</span></div>
        <div class="wizard-next" (click)="setStep(0)">Ir a Siroko.com <mat-icon aria-hidden="false" aria-label="arrow right" fontIcon="arrow_right_alt"></mat-icon></div>
      </div>
    </ng-container>





    
  </div>

</div>
<div class="footer">
  <div>Footer</div>
  <div>Footer</div>
</div>

<router-outlet />
